@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Inter", helvetica, sans-serif;
    font-size: 1.0rem;
    line-height: 2;
    margin: 0;
}
